{{ define "main" }}

  <div class="row">

      {{ if ne .Kind "taxonomy" }}

        {{ range .Pages }}   
        
        <div class="col-sm-6 mb-3 mb-sm-0">
              
        <div class="card">

          <a href="{{ .RelPermalink }}"><img src="{{ .Param `featuredImage` }}" class="card-img-top" alt="{{ .Title }}"></a>
          <div class="card-body" style="padding:32px">
            <h3 class="card-title">{{ .Title }}</h3>
            <p class="card-text"> <time datetime="{{ .Lastmod.Format `006-01-02T15:04:05Z07:00` | safeHTML }}">{{ .Lastmod.Format "Jan 2, 2006" }}</time></p>
            <p class="card-text">{{ .Description }}</p>
          </div>
        </div>

        </div>

        {{ end }}

      {{ end }}

  </div>

{{ end }}



